.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  line-height: 1.4;
}

.card-body .btn-primary {
  margin-top: auto;
}

.row > .col {
  display: flex;
}

.card {
  height: 100%;
}
