body {
  background-color: #222;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.navbar {
  background-color: #333;
  transition: background-color 0.3s ease-in-out;
}

.navbar-brand,
.nav-link {
  color: #fff;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #aaf;
}

.footer p {
  margin-bottom: 0;
}
