/* style.css */
body {
  background-color: #222; /* Uppdaterad bakgrundsfärg */
  color: #fff; /* Vit text för kontrast */
  font-family: "Roboto", sans-serif; /* Typsnitt för text */
  margin: 0; /* Ta bort marginaler för hela sidan */
}

.navbar {
  background-color: #333; /* Uppdaterad färg för Navbar */
  transition: background-color 0.3s ease-in-out; /* Lägg till en övergångseffekt */
}

.navbar-brand,
.nav-link {
  color: #fff; /* Vit text för länkar */
}

.navbar-brand:hover,
.nav-link:hover {
  color: #aaf; /* Ändra färg på hover för länkar */
}

.footer p {
  margin-bottom: 0; /* Ta bort extra utrymme under texten i fotern */
}

.hero {
  display: flex;
  align-items: center; /* Centrerar vertikalt */
  justify-content: center; /* Centrerar horisontellt */
  height: 100vh; /* Anpassar höjden till hela vyhöjden */
  background-image: url("../images/background_image.jpg");
  background-size: cover;
  background-position: center;
}

.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  margin: 0; /* Tar bort standardmarginalen för h1 */
}
